<p id="notice"><%= notice %></p>

<p>
  <strong>Number plate:</strong>
  <%= @syaryo.number_plate %>
</p>

<p>
  <strong>Keeping place:</strong>
  <%= @syaryo.keeping_place %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @syaryo.condition.name %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @syaryo.memo %>
</p>

<p>
  <strong>Status:</strong>
  <%= @syaryo.status %>
</p>

<p>
  <strong>Jikken:</strong>
  <%= @syaryo.jikken_id %>
</p>

<%= link_to 'Edit', edit_syaryo_path(@syaryo) %> |
<%= link_to 'Back', syaryos_path %>
