<h1>部品一覧</h1>

<table>
  <thead>
    <tr>
      <th>Hinmei</th>
      <th>Hinban</th>
      <th>Nouhin sya</th>
      <th>Nouhin day</th>
      <th>Tantou</th>
      <th>Kosu</th>
      <th>Jikken</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buhins.each do |buhin| %>
      <tr>
        <td><%= buhin.hinmei %></td>
        <td><%= buhin.hinban %></td>
        <td><%= buhin.nouhin_sya %></td>
        <td><%= buhin.nouhin_day %></td>
        <td><%= buhin.tantou %></td>
        <td><%= buhin.kosu %></td>
        <td><%= buhin.jikken_id %></td>
        <td><%= link_to 'Show', buhin %></td>
        <td><%= link_to 'Edit', edit_buhin_path(buhin) %></td>
        <td><%= link_to 'Destroy', buhin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Buhin', new_buhin_path %>
