<%= form_for(@jikken) do |f| %>
  <% if @jikken.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jikken.errors.count, "error") %> prohibited this jikken from being saved:</h2>

      <ul>
      <% @jikken.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :plan_start %><br>
    <%= f.datetime_select :plan_start %>
  </div>
  <div class="field">
    <%= f.label :plan_end %><br>
    <%= f.datetime_select :plan_end %>
  </div>
  <div class="field">
    <%= f.label :act_start %><br>
    <%= f.datetime_select :act_start %>
  </div>
  <div class="field">
    <%= f.label :act_end %><br>
    <%= f.datetime_select :act_end %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_area :memo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
