<p>
  <strong>Title:</strong>
  <%= @jikken.title %>
</p>

<p>
  <strong>Tantou:</strong>
  <%= @jikken.tantou %>
</p>

<p>
  <strong>Plan start:</strong>
  <%= @jikken.plan_start %>
</p>

<p>
  <strong>Plan end:</strong>
  <%= @jikken.plan_end %>
</p>

<p>
  <strong>Act start:</strong>
  <%= @jikken.act_start %>
</p>

<p>
  <strong>Act end:</strong>
  <%= @jikken.act_end %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @jikken.memo %>
</p>

<hr>
<h3>車両</h3>
<%= render 'syaryos/index' %>

<hr>
<h3>部品</h3>
<%= render 'buhins/index' %>

<hr>
<%= link_to 'Edit', edit_jikken_path(@jikken) %> |
<%= link_to 'Back', jikkens_path %>
